<script>$(function () { $("#myNavbar").find("[href='/function/review']").parent().addClass("active"); })</script>
@*<script src="~/Scripts/MapViewControl.js"></script>*@
<script src="~/Scripts/reviewPothole.js"></script>
@using Capstone.Web.Models
@model List<PotholeModel>

@{
    ViewBag.Title = "Employee Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        placePotholes(@Html.Raw(Json.Encode(Model.ToArray())), "");
    })
</script>

<div id="reviewPanel" class="col-lg-4">



    <table class="table">
        <tbody>
            @{
                //int count = 0;
                foreach (PotholeModel ph in Model)
                {
                    string phAddr = "phAddr" + ph.PotholeID.ToString();

                    <tr onclick='centerOnPoint(@ph.Latitude,@ph.Longitude, @ph.PotholeID)'>
                        <td>
                            Reported: @ph.ReportDate.Date.ToShortDateString()<br />
                            Lat: @ph.Latitude <br />
                            Lon: @ph.Longitude
                        </td>
                        <td id="@phAddr">
                            <script>fillAddress(@ph.Latitude, @ph.Longitude, @ph.PotholeID)</script>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


<div class="col-lg-8">
    <div id="map"></div>
</div>

